.filter {
  z-index: 1;
}

.scrollTrack {
  z-index: 2;
}

.head {
  > div:nth-child(2) {
    flex-shrink: 0;
  }
}

.subLabel {
  word-break: break-word;
}

.gridItem {
  background-color: unset;
  border: 1px solid rgba(63, 162, 222, 0);
}

.gridItemSelected {
  background-color: rgba(63, 162, 222, 0.15);
  border: 1px solid rgba(63, 162, 222, 0.5);
}

.gridItemName {
  display: block;
  text-align: center;
  padding-top: 1px;
  width: 100%;
}

.disablePointerEvents {
  pointer-events: none;
}

.containerScrollbarGutter {
  scrollbar-gutter: auto;
}

.giftSearchResults {
  max-height: 190px;
}

.hideTooltip {
  &:before {
    display: none !important;
    content: none !important;
  }
  &:after {
    display: none !important;
    content: none !important;
  }
}

.popoverTooltip {
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  background-color: rgb(38, 38, 38);
  color: rgb(238, 238, 238);
  margin: 14px;
  padding: 8px;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.1;
  min-width: 12ch;
  max-width: 60ch;
  text-align: left;
  border-radius: 4px;
  border: 2px solid rgb(196, 132, 0)
}

.tooltipBottom {
  &:before {
    margin-top: 6px;
    margin-bottom: 0;
  }

  &:after {
    margin-top: -6px;
    border-top-color: transparent;
    border-bottom-width: 6px;
    border-bottom-color: #c48400;
  }
}

.centerText {
  text-align: center;
}

.tooltipRight {
  &:before {
    margin-left: 6px;
    margin-right: 0;
  }

  &:after {
    margin-left: -6px;
    border-left-color: transparent;
    border-right-color: #c48400;
  }
}

.rcSliderDotFixes {
  /* Fixes a bug(?) that stretches the dots weirdly. */
  transform: none !important;
  /* The dots aren't actually clickable (previously was 'pointer'). */
  cursor: inherit;
}

.rcSliderHandleFixes {
  /* This is a click-and-drag thing, not a button. */
  cursor: grab;

  .rc-slider-disabled {
    cursor: not-allowed;
  }
}

.rcSliderStepFixes {
  /* Previously no indication that you could click this. */
  cursor: pointer;

  .rc-slider-disabled {
    cursor: not-allowed;
  }
}

.noSelect {
  -webkit-user-select: none;
  user-select: none;
}
